.text-bar{
    width: auto;
    height: auto;
    display: flex;
    margin: 10px;
}

.message-input{
    width: 100%;
    padding: 10px 20px;
    border-radius: 18px;
    resize: none;
    height: fit-content;
    outline: none;
    font-size:x-large;
    background: none;
    border:2px solid var(--primary-hover);
    transition-duration: 500ms;
    color: var(--primary);
}
.message-input:focus{
    border:2px solid var(--primary);
    box-shadow: 0 0 10px var(--primary);
}

.send-icon{
    color: var(--primary);
}
