.side-bar{
    background-color: var(--primary-card);
    height: 100%;
    width: auto;
    max-width: 20vw;
    transition-duration: 500ms;
}

.modal {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-card);
    width: 500px;
    max-width: 50vw;
    margin: 30vh auto;
    word-wrap:break-word;
    border-radius: 18px;
    padding: 10px;
}

.buttons-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-contact-base{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact{
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    transition-duration: 500ms;
}
.contact:hover{
    background-color: var(--on-hover);
    padding: 5px;
}